{% include 'header.html' %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{{ all_posts[ind].img_url }}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{ all_posts[ind].title }}</h1>
                            <h2 class="subheading">{{ all_posts[ind].subtitle }}</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">{{ all_posts[ind].author }}</a>
                                on {{ all_posts[ind].date }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>{{ all_posts[ind].body }}</p>
                    </div>
                </div>
            </div>
        </article>
{% include 'footer.html' %}